.wrapper{
    margin: auto;
    width: 30%;
}
body{
    background-color: hotpink;
}
#yass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: 7px dotted #000;
    margin: 6px 6px 6px 6px;
    }
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
